<div
  ref="auiWrapper"
  class="aui-wrapper"
  :class="[
    'aui-header--' + $store.state.headerSkin,
    'aui-aside--' + $store.state.asideSkin,
    {
      'aui-wrapper--center': $store.state.wrapperCenter,
      'aui-header--fixed': $store.state.headerFixed,
      'aui-aside--fixed': $store.state.asideFixed,
      'aui-aside--fold': $store.state.asideFold,
      'aui-aside--top': $store.state.asideTop,
      'aui-control--fixed': $store.state.controlFixed,
      'aui-control--open': $store.state.controlOpen,
      'aui-main-tabs__header--fixed': $store.state.mainTabsHeaderFixed
    }
  ]"
  v-loading.fullscreen.lock="loading"
  element-loading-text="拼命加载中">
  <template v-if="!loading">
    <layout-header></layout-header>
    <layout-aside></layout-aside>
    <layout-control></layout-control>
    <layout-main></layout-main>
    <layout-footer></layout-footer>
  </template>
</div>
